body{
  background-color: burlywood;
}

.parent {
  display: flex;
  justify-content: space-around;
}

.card {
  background-color: darksalmon;
  margin-top: 150px;
  border-radius: 4px;
  display: flex;
  text-align: center;
  flex: 2;
  flex-direction: column;
  border: 1px solid black;
}
.img1{
 width: 30%;
 border-radius: 5px;
}
.main-img{
  text-align: center;
}
